<app-navbar-main></app-navbar-main>
<div class="signup-container">
  <!-- Left Section: Banner Image -->
  <div class="signup-left">
    <img src="../../assets/img/banner.png" alt="Banner Image" class="banner-image" />
  </div>

  <!-- Right Section: Conditional Rendering for Sign-In / Sign-Up -->
  <div class="signup-right">
        <div class="card shadow-lg custom-card header">
          <div class="card-body ms-3 me-3">

            <h4 class="text-center">User Profile</h4>

            <!-- Sign-Up Form -->
              <p class="card-text fw-bold text-center">
                Welcome, Your profile is set. Start your learning journey now!
              </p>
              <form class = "signup-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="row">

                  <!-- Profile Picture -->
                  <div class="profile-picture-section col-lg-4 col-md-6 col-sm-6">
                    <label for="profilePicture" class="label fw-bold">Profile Picture

                    </label>
                    <input type="file" id="profilePicture" (change)="onFileSelected($event)" accept="image/*"
                    style="display: none;" #fileInput
                    >
                    <div *ngIf="currentProfilePicture" class="current-picture" (click)="triggerFileInput(fileInput)">
                      <img 
                        [src]="currentProfilePicture" 
                        class="current" 
                        alt="Current Profile Picture" 
                        width="100px" 
                        height="100px"
                        style="cursor: pointer;" 
                      >
                    </div>
                  
                  
                  </div>

                  <!-- Email -->
                  <div class="label_input col-lg-4 col-md-6 col-sm-6">
                    <label class="label">Email</label>
                    <input 
                      type="email" 
                      class="form-control custom-input" 
                      formControlName="email" 
                      placeholder="Email"
                      [ngClass]="{
                        'is-invalid':
                          (profileForm.get('email')!.touched && profileForm.get('email')!.invalid) ||
                          (submitted && profileForm.get('email')!.invalid)
                      }"
                      >
                      <small class="text-danger" *ngIf="(profileForm.get('email')!.touched || submitted) && profileForm.get('email')!.errors?.['required']">
                        Email is required.
                      </small>
                  </div>

                  <!-- Password -->
        
                  <!-- Username -->
                  <div class="label_input col-lg-4 col-md-6 col-sm-6">
                    <label class="label">Username</label>
                    <input 
                      type="text" 
                      class="form-control custom-input" 
                      formControlName="username" 
                      placeholder="Username">
                  </div>

                  <!-- Name -->
                  <div class="label_input col-lg-4 col-md-6 col-sm-6">
                    <label class="label">Name</label>
                    <input 
                      type="text" 
                      class="form-control custom-input" 
                      formControlName="name" 
                      placeholder="Name">
                  </div>

                  <!-- Gender -->
                  <div class="label_input col-lg-4 col-md-6 col-sm-6">
                    <label class="label">Gender</label>
                    <select 
                      class="form-control custom-input" 
                      formControlName="gender">
                      <option value="" disabled selected>Select Gender</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                    </select>
                  </div>

                  <!-- Age -->
                  <div class="label_input col-lg-4 col-md-6 col-sm-6">
                    <label class="label">Age</label>
                    <input 
                      type="number" 
                      class="form-control custom-input" 
                      formControlName="age" 
                      placeholder="Age">
                  </div>

                  <!-- Place of Residence -->
                  <div class="label_input col-lg-4 col-md-6 col-sm-6">
                    <label class="label">Place of Residence</label>
                    <input 
                      type="text" 
                      class="form-control custom-input" 
                      formControlName="placeOfResidence" 
                      placeholder="Residence">
                  </div>

                  <!-- Field of Study -->
                  <div class="label_input col-lg-4 col-md-6 col-sm-6">
                    <label class="label">Field of Study</label>
                    <input 
                      type="text" 
                      class="form-control custom-input" 
                      formControlName="fieldOfStudy" 
                      placeholder="Field of Study">
                  </div>

                  <!-- Preferred Language -->
                  <div class="label_input col-lg-4 col-md-6 col-sm-6">
                    <label class="label">Preferred Language</label>
                    <select 
                      class="form-control custom-input" 
                      formControlName="preferredLanguage">
                      <option value="" disabled selected>Select Language</option>
                      <option *ngFor="let lang of supportedLanguages" [value]="lang.code">
                        {{ lang.label }}
                      </option>
                    </select>
                  </div>
                
                  
                  <div class=" d-flex justify-content-center gap-2 text-center align-items-center">
                    <button class="btn btn-outline-primary" type="submit" [disabled]="isSubmitting">
                      {{ isSubmitting ? 'Updating...' : 'Update Profile' }}
                    </button>
                    <button
                    type="button"
                    class="btn btn-danger"
                    (click)="openDeleteConfirmationDialog()"
                    [disabled]="isSubmitting">
                    Delete Profile
                  </button>
                  </div>
            
                </div>
              </form>
            </div>
          </div>
    
  </div>
</div>
<!-- <div class="label_input col-lg-4 col-md-6 col-sm-6">
  <label for="profilePicture" class="label">Profile Picture</label>
  <input 
    type="file" 
    class="form-control custom-input" 
    formControlName="profile_picture" 
    (change)="onFileChange($event)"
    
    >
    <small class="text-danger" *ngIf="(profileForm.get('profile_picture')!.touched || submitted) && signUpForm.get('profile_picture')!.errors?.['required']">
      Profile Photo is required.
    </small>
</div> -->