<div class="mememingle-headernav">
    <img
      src = "../../assets/img/feature-image.png"
      alt="Logo"
      class="mememingle-logo"
    />
    <!-- <div class="mememingle-links">
      <span class="mememingle-text10">Log Out </span>
      <span class="mememingle-text11">User Profile</span>
      <span class="mememingle-text12">DashBoard</span>
    </div> -->
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>    
  </div>
  
  