<div class="mememingle-headernav">
  <!-- Left Section: Logo and Dashboard -->
  <div class="left-section">
    <a routerLink="/dashboard" class="mememingle-logo">
      <img src="../../assets/img/feature-image.png" alt="Logo" />
    </a>
    <span routerLink="/dashboard" class="mememingle-text12">Dashboard</span>
  </div>

   <!-- Center Links -->
   <div class="mememingle-links">
    <span routerLink="/about" class="mememingle-text10">About</span>
    <span routerLink="/contact" class="mememingle-text11">Contact Us</span>
    <span routerLink="/FAQ" class="mememingle-text12">FAQ</span>
  </div>

  <!-- Menu Icon for Center Links (visible on small screens) -->
  <div class="menu-icon" (click)="toggleMenu()" [class.active]="menuOpen">
    <span class="material-icons">menu</span>
  </div>
  <!-- Dropdown Menu for Center Links -->
  <div class="center-dropdown-menu" [class.show]="menuOpen">
    <a routerLink="/about">
      <span class="material-icons">info</span>
      About
    </a>
    <a routerLink="/contact">
      <span class="material-icons">contact_mail</span>
      Contact
    </a>
    <a routerLink="/FAQ">
      <span class="material-icons">help</span>
      FAQ
    </a>
  </div>
  <!-- Right Section: User Avatar Dropdown -->
  <div class="user-avatar-dropdown">
    <img
      [src]="userProfilePicture"
      alt="User Avatar"
      class="user-avatar"
      (click)="toggleDropdown()"
      (error)="userProfilePicture = '/assets/img/user_avtar.jpg'"
    />
    <div class="dropdown-menu" [class.show]="dropdownOpen">
      <a routerLink="/user-profile">
        <span class="material-icons">person</span>
        User Profile
      </a>
      <a (click)="signOut()">
        <span class="material-icons">logout</span>
        Log Out
      </a>
    </div>
  </div>
</div>
