/* Variables */
$sidebar-width: 280px; // Updated to match sidebar.component.scss
$sidebar-margin: 10px;

/* Wrapper for layout */
.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

/* Sidebar styles */
.sidebar {
    width: $sidebar-width;
    min-width: $sidebar-width;
    background-color: #333; // Consider aligning this with sidebar-wrapper's background
    transition: width 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    position: fixed; // Ensure consistency with sidebar-wrapper
    top: $sidebar-margin;
    left: $sidebar-margin;
}

/* Content area */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Adjustments for header and main */
.header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main {
    flex: 1;
    margin-left: calc($sidebar-width + 2 * $sidebar-margin); /* Updated calculation */
    overflow-y: auto;
    transition: margin-left 0.35s ease-in-out;
    
    color: #ffffff; /* White text for contrast */
}

.wrapper.sidebar-collapsed .main {
    margin-left: calc(60px + 4 * $sidebar-margin); /* Adjusted for collapsed sidebar */
}

/* Responsive Adjustments */
@media (max-width: 767.98px) {
  .wrapper {
    flex-direction: column;
    width: fit-content;
  }

  .main {
    margin-left: 0;
    margin-top: 0; /* Adjust based on sidebar visibility */
  }

  .wrapper.sidebar-collapsed .main {
    margin-top: 0;
    margin-left: calc(60px + 2 * $sidebar-margin);
  }
}